html{


}

body{
 width:100%;
 background-color: gray;
 display: grid;

}

.hero{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100vh;
    background-image: url("images/nature.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    
}



 .links{
     list-style: none;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding:0;
     gap:20px;
     
}

ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ul{
     list-style: none;
}

section{
 
     
}

footer{
    display: flex;
    justify-content: space-around;
    
}

