body{
     background-color: gray;
}

section{
    background-color: white;
    padding:20px;
    margin: 20px;
    border-radius: 15px;
    position:relative;
}


div{
    background-color: rgb(183, 255, 29);
    position:absolute;
    width:500px;
    height:500px;
    border-radius: 15px;
    top:0;
    right:0;

}

